﻿body {
    background: url('../Pildid/2880x1620.png') no-repeat center center fixed;
    background-size: cover;
    background-position: top;
    max-height: 100%;
    max-width: 100%;
    position: center;
}
#Esileht {
    background: url('../Pildid/pilt2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: top;
    max-height: 100%;
    max-width: 100%;
    position: center;
}
