﻿@model L_Advisory.Tagasiside
@using L_Advisory.Controllers
@using L_Advisory.Models
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Anna tagasiside";

    
}

<h2>Jäta tagasiside spetsialistile @KasutajaUus.ById(Model.KlientKey.Value).FullName</h2>

<style>
    #textBox {
        width: 500px;
    }

</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.SpetsialistKey)*@
        <div class="form-group">
            @*Lahtri nimi lihtsalt*@
            @*@Html.LabelFor(model => model.KlientKey, "KlientKey", htmlAttributes: new { @class = "control-label col-md-2" })*@
            
            <div class="col-md-10">
                @*@Html.HiddenFor(model => model.KlientKey, htmlAttributes: new { @class = "form-control", disabled = true })*@
                @*@Html.DropDownList("KlientKey", null, htmlAttributes: new { @class = "form-control", disabled = true })*@
                @Html.HiddenFor(model => model.KlientKey, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.DisplayFor(model => model.KlientKey, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.EditorFor(model => model.KlientKey, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.KlientKey, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.SpetsialistKey, "SpetsialistKey", htmlAttributes: new { @class = "control-label col-md-2" })*@

            <div class="col-md-10">
                @Html.HiddenFor(model => model.SpetsialistKey, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.HiddenFor(model => model.SpetsialistKey, htmlAttributes: new { @class = "form-control", disabled = true })*@
                @*@Html.DropDownList("SpetsialistKey", null, htmlAttributes: new { @class = "form-control", disabled = true })*@
                @Html.ValidationMessageFor(model => model.SpetsialistKey, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hinne, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Hinne, Model.TagasisideHinded, new { @class = "form-control", style = "width: 60px;" })
                @*@Html.EditorFor(model => model.Hinne, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Hinne, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tagasiside", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Tagasiside1, new { @style = "max-width: none; width: 700px; max-height: none; height: 400px;"} )
                @Html.ValidationMessageFor(model => model.Tagasiside1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lisa tagasiside" class="btn btn-default" 
                       onclick="window.location.href('@Url.Action("Index","KasutajaUus")')"/>
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
