﻿@model L_Advisory.Tagasiside

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tagasiside</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hinne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tagasiside1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tagasiside1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KasutajaUus.Eesnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KasutajaUus.Eesnimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KasutajaUus1.Eesnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KasutajaUus1.Eesnimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
