﻿@model IEnumerable<L_Advisory.Tagasiside>

@{
    ViewBag.Title = "Index";

    var aadress = Url.RequestContext.RouteData.Values["id"].ToString();
    
    // küsitava spetsialisti id, mis tuleb kaasa url-iga
    int id = (int.Parse(aadress) -5) / 10000;
}

<h2>Tagasiside spetsialistile @KasutajaUus.ById(id).FullName</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hinne)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Tagasiside1)*@
            Tagasiside
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.KasutajaUus.Eesnimi)*@
            @*Klient*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.KasutajaUus1.Eesnimi)*@
            @*Spetsialist*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(x => x.KlientKey == id)) {
    <tr>
        <td>         
            @Html.DisplayFor(modelItem => item.Hinne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tagasiside1)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.KasutajaUus.Eesnimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KasutajaUus1.Eesnimi)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nr }) |
            @Html.ActionLink("Details", "Details", new { id=item.nr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nr })

        </td>*@
    </tr>

}
    
</table>
@Html.ActionLink("Tagasi spetsialisti profiilile", $"Details/{id}", "KasutajaUus")

