﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Esileht.aspx.cs" Inherits="LAdvisory.Esileht" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
 /*pilt*/
        html {
           
  background: url(pilt.jpg) no-repeat center center fixed; 
  background-size: cover;
  max-height:100%;
  max-width:100%; 
        }
        
}
    </style>
</head>

    <body >

     <form id="form1" runat="server">
    
         <h3 style="color:white">BETA</h3>
                
                
         <nav>
        <h3 style="text-align:right;color:white;"> Kontakt Lisainfo </h3>
         </nav>    
     
        <h1 style="text-align:center;font-size:60px;color:white;" >L'Advisory</h1>
        <h2 style="text-align:center;font-size:40px;color:white;" >Asukohapõhine konsultatsiooniteenus</h2>
<br/><br/><br/> <br/><br/><br/><br/> <br/><br/><br/><br/> <br/>

<%--     nupud --%>  
        <asp:Button ID="Button2" runat="server" Text="Registreeri" BackColor="#CCCCCC" style="margin-left: 550px;margin-right:350px; align:center" BorderColor="Black" ForeColor="White" Height="56px" Width="250px" CssClass="auto-style5" Font-Bold="True" Font-Size="Large" />
        <asp:Button ID="Button3" runat="server" Text="Logi sisse"  BackColor="#CCCCCC " style="align-self:right" BorderColor="Black" ForeColor="White" Height="56px" Width="250px" CssClass="auto-style5" Font-Bold="True" Font-Size="Large" />

<br /><br /><br /><br /><br /><br /><br /><br />

        
<br /><br /><br /><br /><br /><br /><br /><br />
       
        <h2 style="text-align:center;font-size:40px; color:white;"> Tippspetsialisti konsultatsioon sulle sobival ajal ja kohas</h2>
         
</form> 
</body>

</html>
