﻿@model Kalender

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    TÄNAN!

        @Html.ActionLink("Tagasi profiili juurde", "Index", "KasutajaUus")
    </div>
</body>
</html>
