﻿@model L_Advisory.Kalender

@{
    ViewBag.Title = "Lisa kalendrisse aeg";

    List<SelectListItem> staatus = new List<SelectListItem>()
            {
                new SelectListItem() { Text = "Vaba", Value = "1"},
                new SelectListItem() { Text = "Broneeritud", Value = "2"},
                new SelectListItem() { Text = "Hõivatud", Value = "3"},
            };

}
@if (KasutajaUus.ByEmail(User.Identity.Name).Id == Model.Key)
{
    <h2>Lisa kalendrisse uus sündmus</h2>
}
else
{
    <h2>Broneeri aeg!</h2>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.Key, "Key", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" }})
                @*@Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control", disabled = true } })*@
                @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kuupäev, htmlAttributes: new { @class = "control-label col-md-2"})
            (pp/kk/aaaa)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kuupäev, new { htmlAttributes = new { @class = "form-control datepicker"} })
                @*@Html.ValidationMessageFor(model => model.Kuupäev, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Kellaaeg", htmlAttributes: new { @class = "control-label col-md-2" })
            (ühekordne arv)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tund, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tund, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (KasutajaUus.ByEmail(User.Identity.Name).Id == Model.Key)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Staatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Staatus, staatus, new { @class = "form-control" })
                    @*@Html.EditorFor(model => model.Staatus, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Staatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Hind (€/tund)", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TunniHind, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TunniHind, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @*@Html.LabelFor(model => model.Staatus, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <!-- niimoodi peab ette andma väärtuse, mida ma tahan edastada -->
                    @{Model.Staatus = 2;}
                    @Html.HiddenFor(model => model.Staatus, new { htmlAttributes = new { @class = "form-control"} })
                    @*@Html.ValidationMessageFor(model => model.Staatus, "", new { @class = "text-danger" })*@
                </div>
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (KasutajaUus.ByEmail(User.Identity.Name).Id == Model.Key)
                 {
                    <input type="submit" value="Lisa" class="btn btn-default" />
                 }
                 else
                 {
                    <input type="submit" value="Broneeri" class="btn btn-default" />
                 }
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tagasi profiili juurde", $"Details/{Model.Key}", "KasutajaUus")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}