﻿@model L_Advisory.Kalender

@{
    ViewBag.Title = "Delete";
}

<h2>Kustuta kalendrist kirje</h2>

<h3>Oled sa kindel, et sa tahad seda teha?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kuupäev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuupäev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TunniHind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TunniHind)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Ups, ma ei tahtnud tegelikult siia üldse tulla! Vii mind tagasi!", $"Details/{KasutajaUus.ByEmail(User.Identity.Name).Id}", "KasutajaUus")
        </div>
    }
</div>
