﻿@model L_Advisory.Kalender

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kalender</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kuupäev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuupäev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TunniHind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TunniHind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KasutajaUus.Eesnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KasutajaUus.Eesnimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Key }) |
    @Html.ActionLink("Back to List", "Index")
</p>
