﻿@model L_Advisory.Kalender

@{
    ViewBag.Title = "Muuda kalendrit";

    List<SelectListItem> staatus = new List<SelectListItem>()
            {
                new SelectListItem() { Text = "Vaba", Value = "1"},
                new SelectListItem() { Text = "Broneeritud", Value = "2"},
                new SelectListItem() { Text = "Hõivatud", Value = "3"},
            };

}

@if (KasutajaUus.ByEmail(User.Identity.Name).Id == Model.Key)
{
    <h2>Muuda kalendrisündmust</h2>
}
else
{
    <h2>Kinnita borneering @Model.Kuupäev.Date.ToShortDateString() kell @Model.Tund:00</h2>
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.nr)
        @Html.HiddenFor(model => model.Key)
        
        @if (KasutajaUus.ByEmail(User.Identity.Name).Id == Model.Key)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Kuupäev, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Kuupäev, new { htmlAttributes = new { @class = "form-control", @Value = Model.Kuupäev.ToShortDateString().Replace(".", "/") } })
                    @Html.ValidationMessageFor(model => model.Kuupäev, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tund, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tund, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tund, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TunniHind, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TunniHind, new { htmlAttributes = new { @class = "form-control", @Value = Model.TunniHind.ToString().Replace(",00", "") } })
                    @Html.ValidationMessageFor(model => model.TunniHind, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Staatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Staatus, staatus, new { @class = "form-control" })
                    @*@Html.EditorFor(model => model.Staatus, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Staatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

        }
        else
        {
            @Html.HiddenFor(model => model.Kuupäev)
            @Html.HiddenFor(model => model.Tund)
            @Html.HiddenFor(model => model.TunniHind)
            <p>
                @{Model.Staatus = 2;}
                @Html.HiddenFor(model => model.Staatus, new { @class = "form-control" })
            </p>

            <div class="form-group">
         
                    <input type="submit" value="Kinnita broneering" class="btn btn-default" />
         
            </div>
        }

        
    </div>
}

<div>
   @Html.ActionLink("Katkesta", $"Details/{Model.Key}", "KasutajaUus")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
