﻿@model IEnumerable<L_Advisory.Kalender>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kuupäev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tund)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TunniHind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KasutajaUus.Eesnimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kuupäev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tund)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TunniHind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KasutajaUus.Eesnimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Key }) |
            @Html.ActionLink("Details", "Details", new { id=item.Key }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Key })
        </td>
    </tr>
}

</table>
