﻿@model IDictionary<DateTime, List<Kalender>>

<style>
    #kalender {
        table-layout: fixed;
        width: 100%;
        font-size: 12px;
    }
    td {
        border: 1px solid black;
        text-align: right;
        vertical-align: top;
    }
    th {
        text-align: center;
        border: 1px solid black;
    }
    #pealkirjad {
        text-align: left;
    }
    #sisemine {
        border: 0px;
        table-layout: fixed;
        width: 90px;
        height: 80px;
    }
    #seekuu {
        color: black;
    }
    #mitteseekuu {
        color: lightgray;
    }
    #vaba {
        background-color: lightgreen;
        font-size: 12px;
        line-height: 12px;
        margin: 0;
        padding: 0;
    }
    #broneeritud {
        background-color: yellow;
        font-size: 12px;
        line-height: 12px;
        margin: 0;
        padding: 0;
    }
    #kinni {
        background-color: red;
        font-size: 12px;
        line-height: 12px;
        margin: 0;
        padding: 0;
    }
    #kuunimi {
        padding: 20px;
        font-size: large;
    }
</style>
<div id="kuunimi">
    <b>@ViewBag.Täna.ToString("MMMM").ToUpper()</b>
</div>

@{
    // võtab antud sessioonist mudeli id
    var id = Session["Model.Id"];
    int id2 = (int)id;

    // ainult need mudeli väljad, mille key vastab id2-le
    var Model2 = Model.ToDictionary(x => x.Key, x => x.Value.Where(y => y.Key == id2));

}

<table id="kalender" width="500" height="500">
    <tr>
        <td style="text-align:left; border:none">

            @Html.ActionLink("< Eelmine", $"Kalender/{ViewBag.KalenderId - 30}")
            @*<a hfer='@Url.Action("Kalender", "Kalenders", new { id = (ViewBag.KalenderId - 30) })'>Proov</a>*@
        </td>
        @for (int i = 0; i < 5; i++)
         {
            <td style="border:none"></td>
         }
        <td style="text-align:right; border:none">
            @Html.ActionLink("Järgmine >", $"Kalender/{ViewBag.KalenderId + 30}")
        </td>
    </tr>

    <tr>
        <th style="color:red">Pühapäev</th>
        <th>Esmaspäev</th>
        <th>Teisipäev</th>
        <th>Kolmpäev</th>
        <th>Neljapäev</th>
        <th>Reede</th>
        <th style="color:red">Laupäev</th>
    </tr>

    @for (int i = 0; i < 5; i++)
    {
        <tr>
            @for (int j = 0; j < 7; j++)
            {
                DateTime d = ViewBag.AlgRida.AddDays(7 * i + j);
                <td style="@((j == 0 || j == 6) ? "color: red" : "color: black")">
                    @d.ToString("dd")
                    <table id="sisemine">
                        <tr style="border:none">
                            <td style="border:none">
                                <!-- if lause paneb asjad õigesse kohta -->
                                @if (Model.ContainsKey(ViewBag.AlgRida.AddDays(7 * i + j)))
                                {

                                    foreach (var item in Model2[ViewBag.AlgRida.AddDays(7 * i + j)])
                                    {
                                        if (KasutajaUus.ByEmail(User.Identity.Name).Id == id2)
                                        {
                                            if (item.Staatus == 1)
                                            {
                                                <p id="vaba">
                                                    @Html.ActionLink("x", "Delete", new { id = item.nr }, new { @style = "float:left" })
                                                    @Html.ActionLink($"{item.Tund}:00", "Edit", new { id = item.nr })
                                                </p>

                                            }
                                            else if (item.Staatus == 2)
                                            {
                                                <p id="broneeritud">
                                                    @Html.ActionLink("x", "Delete", new { id = item.nr }, new { @style = "float:left" })
                                                    @Html.ActionLink($"{item.Tund}:00", "Edit", new { id = item.nr })
                                                </p>
                                            }
                                            else
                                            {
                                                <p id="kinni">
                                                    @Html.ActionLink("x", "Delete", new { id = item.nr }, new { @style = "float:left" })
                                                    @Html.ActionLink($"{item.Tund}:00", "Edit", new { id = item.nr })
                                                </p>
                                            }
                                        }
                                        else
                                        {
                                            if (item.Staatus == 1)
                                            {
                                                <p id="vaba">
                                                    @Html.ActionLink($"{item.Tund}:00", "Edit", new { id = item.nr })
                                                    @*@(item.Tund + ":00")*@
                                                </p>

                                            }
                                            else if (item.Staatus == 2)
                                            {
                                                <p id="broneeritud">
                                                    @(item.Tund + ":00")
                                                </p>
                                            }
                                            else
                                            {
                                                <p id="kinni">
                                                    @(item.Tund + ":00")
                                                </p>
                                            }
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            }
        </tr>
    }
</table>