﻿
@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
<link rel="stylesheet" href="~/Content/FrontPage.css" type="text/css" />

<html>
<body>
<h3 >
    L’Advisory viib kokku hinnatud spetsialistid ja konsultatsiooniteenuse soovijad.</h3>
   
  
        
            <h5 >
                L’Advisory (location based advisory service) on platvorm, mis ühendades kalendri, asukoha, (maksmise) ja teenuse pakkuja profiili ning võimaldab  nõuandeteenust müüa ja osta alates ühest tunnist.
                Meie kasutajad on liikuva eluviisiga kogenud spetsialistid, mentorid, investorid ja teised, kes tahavad oma teenust osutada asukohast sõltumatult.
                L´Advisory platvormi kliendid on ettevõtted, kes soovivad osta (lühiajalist) asjatundja nõuannet. See võib olla konkreetse ülesande lahendamiseks või võimaliku pikemaajalise koostöösuhte testimiseks ilma suurt riski võtmata.
                L´Advisory- asjatundja nõuanne Sulle sobival ajal ja kohas!
            </h5>
        
       
            <h4 >Teami liikmed:</h4>
            <ul >

                <li>Taavi Paal</li>
                <li>Keith Ever</li>
                <li>Maarja-Liisa Kärp</li>
                <li>Valdar Liive</li>

            </ul>
        </h5>
    </body>
</html>