﻿@{
    ViewBag.Title = "Kontakt";
}
<h3 >@ViewBag.Title.</h3>
@*<h3>@ViewBag.Message</h3>*@
<link rel="stylesheet" href="~/Content/FrontPage.css" type="text/css" />
<body >
    <address >
        Lõõtsa 8<br />
        Ülemiste City, Tallinn<br />
        <abbr title="Phone">T:</abbr>
        55778856
    </address>

    <address >
        <strong style="font-size:15px">e-mail:</strong>   <a href="mailto:Support@example.com">Support@ladvisory.com</a><br />
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>
    </body>
