﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  
<head runat="server">
    <title>L'Advisory</title>
    <link rel="stylesheet" href="~/Content/FrontPage.css" type="text/css" />
    <style>
        #alumine {
            text-align: center;
            width:100%;
            left:0;
            position: fixed;
            bottom: 20px;
            font-size: 40px;
            color: white;
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        }
    </style>
 
</head>


<body id="Esileht">
            <h3 style="color:white;text-shadow:1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">BETA</h3>
            <h1 style="text-align:center;font-size:60px;color:white; text-shadow:1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">L'Advisory</h1>
            <h2 style="text-align:center;font-size:40px;color:white;text-shadow:1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">Asukohapõhine konsultatsiooniteenus</h2>   
            <h3 id="alumine"> Asjatundja nõuanne Sulle sobival ajal ja kohas</h3>
</body>

</html>
