﻿@using L_Advisory.Controllers
@using L_Advisory.Models
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'Advisory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui/jquery-ui.min.css")" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("L'ADVISORY", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sirvi spetsialiste", "Index", "KasutajaUus")</li>
                        <li>@Html.ActionLink("Lisainfo", "About", "Home")</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>

                        <!-- HILJEM VAATAB KUIDAS SAAB PROFIILILINKI TEHA -->
                        @if (Request.IsAuthenticated && KasutajaUus.ByEmail(User.Identity.Name) != null)
                         {
                            <li>
                                @Html.ActionLink("MINU PROFIIL", $"Details/{KasutajaUus.ByEmail(User.Identity.Name).Id}", "KasutajaUus")
                            </li>
                         }
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Content/jquery-ui/jquery-ui.min.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy'
            });

        });

    </script>
</body>
</html>
