﻿@model L_Advisory.KasutajaUus

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KasutajaUus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Eesnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eesnimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perenimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perenimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asukoht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asukoht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valdkond)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valdkond)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutvustus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutvustus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinTunniHind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinTunniHind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTunniHind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTunniHind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnSpetsialist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnSpetsialist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Key)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
