﻿@model L_Advisory.KasutajaUus
@using L_Advisory.Controllers
@using L_Advisory.Models

    


@{
    ViewBag.Title = Model.FullName;
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>
<style>
    #profiil {
        width: 30%;
        float: left;
        /*border: 1px solid black;*/
    }
 
</style>
<div id="profiil" style="float:left"> 

    @if (KasutajaUus.ById(Model.Id).Pilt != null)
    {
        <img src='@Url.Action( "Photo", "KasutajaUus", new { id = Model.Id } )' height="200" style="margin:auto; display:block" />
    }

    <dl class="dl-horizontal">
        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            Amet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            Asutus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asukoht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asukoht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valdkond)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valdkond)
        </dd>

        <dt>
            Lühitutvustus
        </dt>
        
        </dl>
    <hr />
    <p style="text-align:center">@Html.DisplayFor(model => model.Tutvustus)</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hind
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinnaVahemik)
        </dd>

        <dt>
            Keskmine hinne
        </dt>

        <dd>
            @{
                var kontroll = Model.KeskmisedHinded.Keys.Contains(Model.Id) ? (Model.KeskmisedHinded[Model.Id].Value) : 0;

                if (kontroll == 0)
                {
                    string kriips = "-";
                    @kriips
                }
                else
                {
                    @kontroll;
                }
            }
            (@Html.ActionLink($"{Model.Tagasiside.Where(x => x.KlientKey == Model.Id).Count()}",
                                                     $"Index/{Model.Id * 10000 + KasutajaUus.ByEmail(User.Identity.Name).Id}", "Tagasisides"))
        </dd>
    </dl>

    <p>
    @if (Model.Email == User.Identity.Name)
    {
        @Html.ActionLink("Muuda profiili", "Edit", new { id = Model.Id })
        <br />
            @Html.ActionLink("Lisa kalendrisse uus sündmus", $"Create/{Model.Id * 10000}", "Kalenders")
    }
    else { }
    <br />
    @Html.ActionLink("Tagasi spetsialistide nimekirja juurde", "Index")
    <br />
    @if ((Model.Email != User.Identity.Name))
    {
            @Html.ActionLink("Jäta tagasiside", $"Create/{Model.Id * 10000 + KasutajaUus.ByEmail(User.Identity.Name).Id}", "Tagasisides")
    }
        
</div>

<div id="kalender" style="float:right; width:700px; height: 700px">
    @{Session["Model.Id"] = Model.Id;}
    @Html.Action("Kalender", "Kalenders", new { id = Model.Id})
</div>



                            