﻿@model IEnumerable<L_Advisory.KasutajaUus>

@{
    ViewBag.Title = "Spetsialistide loend";
}

<h2>Spetsialistide loend</h2>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.FullName)*@
            Nimi
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            E-mail
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Soov)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Valdkond)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Company)*@
            Asutus
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Position)*@
            Ametikoht
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Tutvustus)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Asukoht)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.HinnaVahemik)*@
            Hind
        </th>        
    </tr>

@foreach (var item in Model) {
    if (item.OnSpetsialist)
    {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.FullName)*@
            @Html.ActionLink(item.FullName, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Soov)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Valdkond)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Tutvustus)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Asukoht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinnaVahemik)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>*@
    </tr>
        }
    }

</table>
